:host{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161617;
  height: 70px;

  .header{
    &__logo{
      margin: 0 auto;

      &__icon{
        height: 19px;
        width: 117px;
      }
    }

    &__navigation{
      margin: 0 auto;
    }

    &__nav__list{
      display: flex;
      align-self: center;
      justify-content: space-between;
      list-style: none;

      &__item:not(:last-child){
        margin-right: 53px;
      }

      &__item{
        padding-right: 7px;
        padding-left: 7px;
        position: relative;
        transition: all 0.6s;
        font-family: 'Arimo', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #D6D2CF;
        user-select: none;
        cursor: pointer;
        &--active{
          color: #28A396;
          border-bottom: 1px solid #28A396;
        }
        &:hover{
          color: #28A396;
        }
        &:before{
          content: "";
          width: 0;
          height: 1px;
          position: absolute;
          top: 100%;
          bottom: 0;
          left: 50%;
          transition: all 0.3s;
        }
        &:hover:before{
          width: 100%;
          left: 0;
          background: #28A396;
        }
      }
    }

    &__search{
      margin: 0 auto;

      &__icon{
        width: 19px;
        height: 19px;
        margin-right: 47px;
        cursor: pointer;
      }

      &__profile{
        &__icon{
        width: 21px;
        height: 20px;
        cursor: pointer;
        }

        &__menu{
          display: none;
          width: 245px;
          height: 275px;
          position: absolute;
          z-index: 1;
          right: 50%;
          border-radius: 10%;
          background-color: #191E23;
          box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);

          ul{
            margin: 0;
            padding-left: 0;
            padding-top: 16px;
            list-style: none;

            li:hover{
              background-color: #23292E;
            }
          }

          &__option{
            padding: 11px 0 11px 30px;
            font-family: 'Arimo', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #D6D2CF;
            background-color: transparent;
          }

          &__option:nth-child(1){
            margin-top: 5px;
          }
        }
      }

      &__dropdown{
        position: relative;
        display: inline-block;
      }

    }
  }

  .header__search__dropdown:hover .header__search__profile__menu{
    display: block;
  }

}
