:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191E23;
  flex: 1;

  .selection{

    &__title{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      margin-top: 50px;

      &__name{
        font-family: 'Arimo', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.02em;
        color: #fff;
      }

      &__description{
        padding: 0 120px;
        text-align: center;
        font-family: 'Arimo', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #fff;
      }
    }

    &__video{
      margin-bottom: 100px;

      img{
        width: 600px;
        height: 600px;
      }
    }
  }
}
