<div class="coming-soon__container">
  <ul class="coming-soon__list">
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/catwars-daserwatchen.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 16 сентября 2021</p>
        <p class="coming-soon__item__movie">Cat Wars - Das Erwachen Der Macht</p>
      </div>
    </li>
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/cat-wars.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 9 сентября 2021</p>
        <p class="coming-soon__item__movie">Cat Wars</p>
      </div>
    </li>
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/starwars-forse.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 23 сентября 2021</p>
        <p class="coming-soon__item__movie">Star Wars - The Forse Awakens</p>
      </div>
    </li>
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/catwars-deer.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 30 сентября 2021</p>
        <p class="coming-soon__item__movie">Cat Wars</p>
      </div>
    </li>
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/carwars-purrawakens.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 16 сентября 2021</p>
        <p class="coming-soon__item__movie">Cat Wars - The Purr Awakens</p>
      </div>
    </li>
    <li class="coming-soon__item">
      <div class="coming-soon__item__content">
        <img src="assets/images/starcats-return.jpg" class="coming-soon__item__poster" alt="Star Cats Poster">
        <p class="coming-soon__item__date">с 30 сентября 2021</p>
        <p class="coming-soon__item__movie">Star Wars - Return of the Jedi</p>
      </div>
    </li>
  </ul>
</div>
